*{
	padding:0 ;
	margin: 0 ;
	box-shadow:0 0 0 !important;

}

///VARS

	$back1-color: #f5f5f5;
	$element1-color: #8BC34A;
	$element2-color: #4CAF50;


.border{
	border: 1px solid black;
}

body{
	background-color: $back1-color;
	width: 100%;
	height: 100vh;
	padding:0;
}

nav{
	height: 70px;
	opacity: 0;
	text-align:center;
}

#sel1{
}
.content{
	margin: 0 0 0 0 !important;
	transition: all 0.3 linear;
	text-align: center;
	height: 100vh;
	padding: 0;
	.pesquisa{
		z-index: 3 !important;
		height: 500px;
		position:relative;
		top:50%;
		transform:translateY(-50%);
		color:white;
		background: url("../img/fundo.jpg") center;
		margin:0;
		margin-bottom:80px;
		padding-top: 110px;
		.time{
			#ir{
				color:white;
				border: 1px solid white;
			}
		}
		transition: all 0.3s linear;
		
	}
	.social{
		background-color: $back1-color;
		display:none;
		height: auto;
		.nav-pills{
			li{
				margin:0;
				background-color: $element2-color;

			}
		}

		.so-pane{
			border: 5px solid $back1-color;
			background-color: $element1-color;
			border-radius: 10px;
			background: linear-gradient($element1-color,darken($element1-color,11%));
			overflow: auto;
			height: 500px;

		}
	}
	.noticias{
	}

	.painel-noticias{
		overflow:hidden;
		display:none;
		transition: all 0.4s linear;
		height: 0px;
	}

	.get-noticias{
		transition: all 0.3s linear;
		text-align: center;
		display:none;
		.glyphicon{
			&:hover{
				transform:scale(1.5,1.5);
				cursor:pointer;
			}
		}

	}
	
}

.pane{
	padding: 0 20px;
    box-shadow: 0 0 5px black !important;

}

.instaPhotos{
	overflow:hidden;
	width: 95% !important;
	height:auto !important;
	box-shadow: 0 0 5px black !important;
	transition: all 0.05s linear;
	&:hover{
		transform: scale(1.1,1.1);
	}
}

.facePhotos{
	@extend .instaPhotos;
	width: 40% !important;
	height:auto !important;
}

.cardNot{
	padding:30px 0;
	height: 100px;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.panel-s{
	background-color: $back1-color;
	width: auto;
	border-radius: 10px ;
}

.panel{
	background: rgba(0, 0, 0, 0);
}

.panel-title{
	font-size: 15px !important;
	overflow: hidden;
    text-overflow: ellipsis;
    white-space: wrap;
}

.panel-heading{
	color:black !important;
	background-color: $back1-color !important;
	width: auto;
	border-radius: 10px ;
}