doctype
html
	head
		meta(charset="utf-8")
		title Social FC
		link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/material.min.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		nav.navbar.navbar-default
			.container-fluid
			// Brand and toggle get grouped for better mobile display
			.navbar-header
         
		.content.col-xs-12
			.jumbotron.pesquisa.col-md-12.col-xs-12
				h1 Bem vindo ao Social Fc!
				p Nome do time:
				.time.col-xs-4.col-xs-offset-4
					input(type="text" class="form-control" placeholder="Ex: Corinthians" aria-describedby="basic-addon2")
					button#ir(class="btn btn-default") Ir
			
			.jumbotron.social.col-xs-12
				ul.nav.nav-pills.col-xs-12
					li.col-xs-4.active(role='presentation' data-s="instagram")
						a(href='#') Instagram
					li.col-xs-4(role='presentation'  data-s="facebook")
						a(href='#') Facebook
					li.col-xs-4(role='presentation' data-s="twitter")
						a(href='#') Twitter
				p Nome do time:
				.jumbotron.so-pane.instagram.col-xs-8.col-xs-offset-2.hidden#instagram Instagram
				.jumbotron.so-pane.facebook.col-xs-8.col-xs-offset-2.hidden 
					a(href="javascript:void(0)" class="btn btn-raised btn-info login")#login Logar
					a(href="javascript:void(0)" class="btn btn-raised btn-info logout")#logout Deslogar
				.jumbotron.so-pane.twitter.col-xs-8.col-xs-offset-2.hidden Twitter


			.painel-noticias.col-xs-12
				.pane.col-xs-4
					.jumbotron.noticias.n1
						h1 Globo
				.pane.col-xs-4
					.jumbotron.noticias.n2
						h1 UOL
				.pane.col-xs-4
					.jumbotron.noticias.n3
						h1 Outro

		script(src="bower_components/instafeed.js/instafeed.min.js")
		script(src="bower_components/abdmob/x2js/xml2json.min.js")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/bootstrap-material-design/dist/js/material.min.js")
		script(src="js/script.js")
		script(src="js/apis.js")