doctype
html
	head
		meta(charset="utf-8")
		link(rel='icon', type='image/png', href='img/ico.png ')

		title Social FC
		link(rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet" type="text/css" href="bower_components/bootstrap-material-design/dist/css/material.min.css")
		link(rel="stylesheet" type="text/css" href="css/animate.css")
		link(rel="stylesheet" type="text/css" href="css/style.css")
	body
		nav.navbar.navbar-default.hidden
			.container-fluid
			img#aux
			.navbar-header
         
		.content.col-xs-12
			.jumbotron.pesquisa.col-md-12.col-xs-12.border
				h1.animated.bounceInLeft.wow Bem vindo ao Social Fc!
				.time.col-xs-4.col-xs-offset-4.animated.bounceInLeft.wow
					.col-md-10
						select#sel1.form-control
						button#ir(class="btn btn-default") Ir
			
			.jumbotron.social.col-xs-12.animated.bounceInUp.wow
				a
					p#voltar Escolher outro time
				.jumbotron.so-pane.instagram.col-xs-6
				.jumbotron.so-pane.facebook.col-xs-6
					.log
						a(href="javascript:void(0)" class="btn btn-raised btn-info login col-xs-12 col-xs-offset-3")#login Logar no facebook para ver posts
			
			.get-noticias.jumbotron.col-xs-12
				span Notícias 
				span#seta.glyphicon.glyphicon-menu-down(aria-hidden='true')
						
			animated.bounceInLeft.wow.painel-noticias.col-xs-12
				.pane.col-xs-4
					.jumbotron.noticias.n1
						h2 Globo Esporte
				.pane.col-xs-4
					.jumbotron.noticias.n2
						h2 UOL
				.pane.col-xs-4
					.jumbotron.noticias.n3
						h3 Fox Esporte

		script(src="bower_components/instafeed.js/instafeed.min.js")
		script(src="bower_components/abdmob/x2js/xml2json.js")
		script(src="bower_components/jquery/dist/jquery.min.js")
		script(src="bower_components/bootstrap/dist/js/bootstrap.min.js")
		script(src="bower_components/bootstrap-material-design/dist/js/material.min.js")
		script(type='text/javascript', src='https://www.google.com/jsapi')

		script(src="js/xml2js.js")
		script(src="js/wow.min.js")
		script(src="js/data.js")
		script(src="js/script.js")
		script(src="js/apis.js")

		script.
			new WOW().init();